/* your styles go here */
#technologies1, #technologies2, #technologies3, #technologies4, #technologies5, #technologies6 {
  height: 250px;
}

#project1, #project2 {
  height: 240px;
  width: 370px;
}

#linkToProject1 {
  margin-left: 130px;
}

#linkToProject2 {
  margin-left: 270px;
}

#linkToProject3 {
  margin-left: 270px;
}

#linkToProject4 {
  margin-left: 270px;
}

#cool {
  width: 1000px;
}

#github {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#linkedin {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#email {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
